---
title: Naghmeh Shirazi
---

<div class="container" "sections">
  <div class="profile-pic"><img src="https://avatars.githubusercontent.com/naghmehd"></div>

  <section id="home" class="row">
      <div class="col-xs-12 col-sm-12 col-md-12" "in-home">
        <header><h1>Naghmeh Shirazi</h1></header>
        <p>Hi and welcome to my page!</p>
        <p> My interest for coding started when I had to learn to manage my home bakery website.
            With time, my interest grew and it led to a QA internship.
            By end of my internship, I was determined to invest more time into my new passion.
            This led me to The Iron Yard. At TIY I transitioned from being a hobbyist to a coder.
            When I am not coding, I bake, volunteer at my kids’ school,
            mentor girls on their education and careers and travel with my family.
        </p>
        <p>My skills sets are in Ruby, Ruby on Rails, HTML, CSS, JavaScript and React</p>
      </div>
  </section>

  <section id="projects" class="row" "projects">
    <header><h1>Projects</h1></header>
      <div class="col-xs-12 col-sm-4 col-md-4" "projects">
        <div class="thumbnail">
        <%= image_tag 'toyexchange.png', class:'img-responsive' %>
        <div class="overlay">
    		  <h5> <%= link_to 'GitHub', 'https://github.com/naghmehd/toyexchange' %> </h5>
    			<h5><%= link_to 'Live Site', 'http://toyexchange.herokuapp.com' %></5>
    	  </div>
          <div class="caption">
              <p>
                ToyExchange is an app for parents to exchange toys. This was
                my final project at The Iron Yard coding school. This is a complete app built in 2 weeks.
                The app uses a Rails back-end and a React front-end for the search filter.
                This project was a stretch and I learned a lot: Device gem, Facebook API, Refile and Amazon S3.
              </p>
          </div>
        </div>
      </div>
        <div class="col-xs-12 col-sm-4 col-md-4" "projects">
            <div class= "thumbnail">
                <%= image_tag 'spacebook.png', class:'img-responsive' %>
                <div class="overlay">
            			<h5> <%= link_to 'GitHub', 'https://github.com/tiy-austin-ror/SpaceBook' %></h5>
            		</div>
                <div class="caption">
                    <p>
                      Spacebook is an app where companies with multiple campuses can book rooms for events.
                      This project was a full stack group project for the Rails class.
                      The team did the design, front-end using React and back-end using Rails.
                      I contributed to the design and used React to build search filtering.
                      This project was a great experience working with a team and practicing Agile methedology.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4" "projects">
            <div class= "thumbnail">
                <%= image_tag 'movie.png', class:'img-responsive' %>
                <div class="overlay">
            		<h5> <%= link_to 'GitHub', 'https://github.com/Naghmehd/group_project_movie' %> </h5>
            		</div>
                <div class="caption">
                    <p>
                      Movie Voter app was a group project where I was
                      the back-end developer. My group consisted of a front-end developer and a designer.
                      This app showcases a complete Rails API with all the CRUD actions necessary for the site to function.
                      This project was a great opportunity to work on a team with all three skill sets contributing.
                </div>
            </div>
        </div>
  </section>

  <section id="contact" class="row3">
    <header><h1>Contact</h1></header>
  	<ul class="row">
      <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image">
        <i class="fa fa-3x fa-envelope" aria-hidden="true"></i>
        <span class="contact-text"><%= mail_to 'naghmehd@gmail.com', 'naghmehd@gmail.com'%></span>
      </li>

    	<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image">
    		<i class="fa fa-3x fa-github" aria-hidden="true"></i>
      		<% link_to 'https://github.com/naghmehd' do %>
    		<span class="contact-text first">naghmehd</span>
    		<% end %>
    	</li>

    	<li class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image">
    		<i class="fa fa-3x fa-twitter" aria-hidden="true"></i>
      		<% link_to 'https://twitter.com/naghmehshirazi' do %>
    		<span class="contact-text">naghmehshirazi</span>
    		<% end %>
    	</li>

      <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image">
        <i class="fa fa-3x fa-cloud-download" aria-hidden="true"></i>
        <span class="contact-text"><a href="/doc/NaghmehShirazi_Resume.pdf">RÉSUMÉ</a></span>
      </li>
    </ul>
  </section>
</div>
